#menu {
  background-color: black !important;
}
#menu li a {
  font-weight: 700;
  font-family: RobotoRegular;
  text-transform: capitalize;
}
.navbar-nav > li {
  display: inline-block !important;
  float: none !important;
}

.navbar-nav > li:hover {
  color: red;
  border-bottom: 2px solid red;
}
.text-menu {
  text-transform: uppercase;
}
