<!-- menu -->
<section id="menu">
  <div class="container">
    <div class="menu-area">
      <!-- Navbar -->
      <div class="navbar navbar-default" id="navbar-cus" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li><a class="text-menu" [routerLink]="['/home']">Trang chủ</a></li>
            <li><a class="text-menu" (click)="search('Laptop gaming')">Laptop Gaming</a></li>
            <li><a class="text-menu" (click)="search('PC')">PC Worksation</a></li>
            <li><a class="text-menu" (click)="search('Gaming Gear')">Gaming Gear</a></li>
            <li><a class="text-menu" [routerLink]="['/home']">Về chúng tôi</a></li>
            <li><a class="text-menu" [routerLink]="['/home']">Liên hệ</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</section>
<!-- / menu -->
