<section id="aa-promo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-promo-area">
          <div class="row">
            <div class="col-md-9">
              <div class="product-image">
                <div id="myCarousel-2" data-ride="carousel" data-interval="4000" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
                    <li data-target="#myCarousel-2" data-slide-to="3" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="item item-carousel active">
                      <img src="../../../../../assets/img/TUF-F15-1.jpg" class="img-responsive" alt="" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="item item-carousel">
                      <img src="../../../../../assets/img/Chiến-game-cực-đã-cũng-màn-hình-Asus.jpg" class="img-responsive" alt="" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="item item-carousel">
                      <img src="./../../../../../assets/img/XGear_G512_FX506_885x522.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="item item-carousel">
                      <img
                        src="./../../../../../assets/img/NB_Vn_LNY-Promotion_BannerW885xH522px_1_XGear.jpg"
                        class="img-responsive"
                        alt=""
                      />
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel-2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel-2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="aa-promo-left">
                    <div class="aa-promo-banner aa-promo-banner-hoz">
                      <img src="../../../../../assets/img/Banner/Laptop-Gaming-Button.jpg" alt="img" />
                      <div class="aa-prom-content"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="aa-promo-left">
                    <div class="aa-promo-banner aa-promo-banner-hoz">
                      <img src="../../../../../assets/img/freebuild-slider_compressed.jpg" alt="img" />
                      <div class="aa-prom-content"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="aa-promo-left">
                    <div class="aa-promo-banner aa-promo-banner-hoz">
                      <img src="../../../../../assets/img/monitor_slider_compressed.jpg" alt="img" />
                      <div class="aa-prom-content"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- promo left -->
            <!-- <div class="col-md-5 no-padding">

            </div> -->
            <!-- promo right -->
          </div>
          <div class="row">
            <div class="aa-promo-right no-padding">
              <div class="aa-single-promo-right col-md-3">
                <div class="aa-promo-banner">
                  <img src="../../../../../assets/img/Banner/ACER-store.jpg" alt="img" />
                  <div class="aa-prom-content"></div>
                </div>
              </div>
              <div class="aa-single-promo-right col-md-3">
                <div class="aa-promo-banner">
                  <img src="../../../../../assets/img/Banner/Asus-store.jpg" alt="img" />
                  <div class="aa-prom-content"></div>
                </div>
              </div>
              <div class="aa-single-promo-right col-md-3">
                <div class="aa-promo-banner">
                  <img src="../../../../../assets/img/Banner/MSI-store.jpg" alt="img" />
                  <div class="aa-prom-content"></div>
                </div>
              </div>
              <div class="aa-single-promo-right col-md-3">
                <div class="aa-promo-banner">
                  <img src="../../../../../assets/img/Banner/PC-store.jpg" alt="img" />
                  <div class="aa-prom-content"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="margin-top: 20px" id="aa-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-banner-area">
            <a href="#"
              ><img style="width: 1170px" src="../../../../../assets/img/4k-gaming-pcs-hero1563813118549665.jpg" alt="fashion banner img"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="aa-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-product-area">
            <div class="aa-product-inner">
              <!-- start prduct navigation -->
              <ul class="nav nav-tabs aa-products-tab">
                <li class="active"><a href="#acer" class="text-tab" data-toggle="tab">ACER</a></li>
                <li><a href="#asus" class="text-tab" data-toggle="tab">ASUS ROG</a></li>
                <li><a href="#msi" class="text-tab" data-toggle="tab">MSI</a></li>
                <li><a href="#dell" class="text-tab" data-toggle="tab">DELL</a></li>
                <li><a href="#lenovo" class="text-tab" data-toggle="tab">LENOVO</a></li>
                <li><a href="#hp" class="text-tab" data-toggle="tab">HP</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start acer product category -->
                <div class="tab-pane fade in active" id="acer">
                  <div class="row">
                    <div class="col-md-3">
                      <img height="427" src="../../../../../assets/img/Acer-Gaming.jpg" alt="" />
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-9">
                          <h3>LAPTOP ACER</h3>
                        </div>
                        <div class="col-md-3">
                          <!-- Controls -->
                          <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a
                            ><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                          </div>
                        </div>
                      </div>
                      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of listAcerActive" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let prodResult of listAcerResult" class="item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of prodResult" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / acer product category -->
                <!-- start ASUS product category -->
                <div class="tab-pane fade" id="asus">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-9">
                          <h3>AUS ROG</h3>
                        </div>
                        <div class="col-md-3">
                          <!-- Controls -->
                          <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a
                            ><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                          </div>
                        </div>
                      </div>
                      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of listAsusActive" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let prodResult of listAsusResult" class="item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of prodResult" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <img height="427" src="../../../../../assets/img/asus-rogjpg.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <!-- / women ASUS category -->
                <!-- start sports product category -->
                <div class="tab-pane fade" id="msi">
                  <div class="row">
                    <div class="col-md-3">
                      <img height="427" src="../../../../../assets/img/msi-gaming.jpg" alt="" />
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-9">
                          <h3>MSI GAMING</h3>
                        </div>
                        <div class="col-md-3">
                          <!-- Controls -->
                          <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a
                            ><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                          </div>
                        </div>
                      </div>
                      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of listMsiActive" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let prodResult of listMsiResult" class="item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of prodResult" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / sports product category -->
                <!-- start electronic product category -->
                <div class="tab-pane fade" id="dell">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-9">
                          <h3>DELL GAMING</h3>
                        </div>
                        <div class="col-md-3">
                          <!-- Controls -->
                          <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a
                            ><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                          </div>
                        </div>
                      </div>
                      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of listDellActive" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let prodResult of listDellResult" class="item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of prodResult" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <img height="427" width="269" src="../../../../../assets/img/10825858.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <!-- / electronic product category -->
                <!-- start electronic product category -->
                <div class="tab-pane fade" id="lenovo">
                  <div class="row">
                    <div class="col-md-3">
                      <img height="427" width="269" src="../../../../../assets/img/Lenovo-Gaming-Laptop__Section-Banner.jpg" alt="" />
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-9">
                          <h3>LAPTOP LENOVO</h3>
                        </div>
                        <div class="col-md-3">
                          <!-- Controls -->
                          <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a
                            ><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                          </div>
                        </div>
                      </div>
                      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of listLenovoActive" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let prodResult of listLenovoResult" class="item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of prodResult" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / electronic product category -->

                <!-- start electronic product category -->
                <div class="tab-pane fade" id="hp">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-9">
                          <h3>LAPTOP HP</h3>
                        </div>
                        <div class="col-md-3">
                          <!-- Controls -->
                          <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a
                            ><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                          </div>
                        </div>
                      </div>
                      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of listHpActive" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let prodResult of listHpResult" class="item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of prodResult" class="col-md-3 col-sm-6">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="#">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img class="pic-2" [src]="baseFile + item.pictures[0]" />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">New</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="#">{{ item.name }}</a>
                                        </h3>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span>{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <img height="427" width="269" src="../../../../../assets/img/HP_Pavilion_Gaming_Laptop_Lifestyle1.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <!-- / electronic product category -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="margin-top: 20px" id="aa-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-banner-area">
            <a href="#"><img class="img-banner" src="../../../../../assets/img/AORUS_BANNER_compresse.jpg" alt="fashion banner img" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thông tin sản phẩm {{ itemQuickView ? itemQuickView.code : '' }}"
  nzWidth="1200px"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <div class="row">
      <!-- Modal view slider -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <lib-ngx-image-zoom
          [thumbImage]="myThumbnail"
          [fullImage]="myThumbnail"
          [magnification]="2"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="'200'"
          [lensHeight]="'200'"
          [circularLens]="true"
        >
        </lib-ngx-image-zoom>
        <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <!-- Controls -->
            <div class="controls pull-right hidden-xs">
              <a class="left fa fa-chevron-left btn btn-success" href="#list-picture" data-slide="prev"></a
              ><a class="right fa fa-chevron-right btn btn-success" href="#list-picture" data-slide="next"></a>
            </div>
          </div>
        </div>
        <div id="list-picture" class="carousel slide hidden-xs" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div
                      (click)="changePicture(item)"
                      *ngFor="let item of itemQuickView ? itemQuickView.listPicturesActive : []"
                      class="col-md-3 col-sm-6"
                    >
                      <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let pic of itemQuickView ? itemQuickView.listPicturesRs : []" class="item">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div (click)="changePicture(item)" *ngFor="let item of pic" class="col-md-3 col-sm-6">
                      <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal view content -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="aa-product-view-content">
          <h3>{{ itemQuickView ? itemQuickView.name : '' }}</h3>
          <div class="row">
            <div class="col-md-6">
              <p style="float: left">
                Lượt xem:
                <nz-tag [nzColor]="'#108ee9'">{{ itemQuickView ? itemQuickView.visitCount : '' }}</nz-tag>
              </p>
            </div>
            <div class="col-md-6">
              <p style="float: right" class="aa-product-avilability">Trạng thái: <nz-tag [nzColor]="'green'">Còn hàng </nz-tag></p>
              <div
                class="fb-like"
                data-href="https://developers.facebook.com/docs/plugins/"
                data-width=""
                data-layout="standard"
                data-action="like"
                data-size="small"
                data-share="true"
              ></div>
            </div>
          </div>
          <nz-rate [ngModel]="'2.5'" nzDisabled></nz-rate>
          <br />
          <span class="text-label">Giá bán: </span><span class="text-price">{{ itemQuickView.price | currency: 'VND' | lowercase }}</span>
          <br />
          <span class="text-label">Giá khuyến mãi:</span>
          <span class="text-price-discount"> {{ itemQuickView.price - itemQuickView.discount | currency: 'VND' | lowercase }}</span>
          <br />
          <span class="text-label">Thông tin sảm phẩm: </span>
          <span>{{ itemQuickView ? itemQuickView.summary : '' }}</span>
          <br />
          <span class="text-label">Thời gian bảo hành: </span>
          <span class="text-price-discount">{{
            itemQuickView ? itemQuickView.thoiGianBaoHanh + ' ' + itemQuickView.loaiBaoHanh : ''
          }}</span>
          <br />
          <br />
          <div class="aa-prod-quantity">
            <p class="aa-prod-category">
              <span class="text-label">Loại sản phẩm: </span
              ><a *ngFor="let item of itemQuickView ? itemQuickView.categoryName : []" href="#">
                <nz-tag [nzColor]="'#f50'">{{ item }}</nz-tag>
              </a>
            </p>
          </div>
          <span class="text-label">Thông tin bổ sung: </span>
          <div class="row">
            <div class="col-md-12">
              <nz-table [nzPageSize]="'4'" #basicTable [nzData]="itemQuickView ? itemQuickView.listCategoryMetaProducts : []">
                <thead>
                  <tr>
                    <th>Mã</th>
                    <th>Nội dung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of itemQuickView ? itemQuickView.listCategoryMetaProducts : []">
                    <td>{{ data.categoryMetaName }}</td>
                    <td>{{ data.content }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <div class="item-center aa-prod-view-bottom">
            <a href="#" style="margin-right: 20px" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
            <a href="#" class="aa-add-to-cart-btn">Xem chi tiết</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancel()" nzType="danger">Đóng</button>
  </div>
</nz-modal>
