<section id="aa-support">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-support-area">
          <!-- single support -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-truck"></span>
              <h4>CHÍNH SÁCH GIAO HÀNG</h4>
              <P>Nhận hàng và thanh toán tại nhà</P>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-credit-card"></span>
              <h4>THANH TOÁN TIỆN LỢI</h4>
              <P>Trả tiền mặt, CK, trả góp 0%</P>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-clock"></span>

              <h4>ĐỔI TRẢ DỄ DÀNG</h4>
              <P>Dùng thử trong vòng 3 ngày</P>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-phone"></span>
              <h4>HỖ TRỢ 24/7</h4>
              <P>Tư vấn, giải đáp mọi thắc mắc</P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
