<!-- product category -->
<section id="aa-product-details">
  <div class="row">
    <div class="col-md-12">
      <div class="aa-product-details-area">
        <div class="aa-product-details-content">
          <div class="row">
            <!-- Modal view slider -->
            <div class="col-md-6 col-sm-12 col-xs-12">
              <lib-ngx-image-zoom
                [thumbImage]="myThumbnail"
                [fullImage]="myThumbnail"
                [magnification]="2"
                [enableScrollZoom]="true"
                [enableLens]="true"
                [lensWidth]="'200'"
                [lensHeight]="'200'"
                [circularLens]="true"
              >
              </lib-ngx-image-zoom>
              <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                  <!-- Controls -->
                  <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#list-picture" data-slide="prev"></a
                    ><a class="right fa fa-chevron-right btn btn-success" href="#list-picture" data-slide="next"></a>
                  </div>
                </div>
              </div>
              <div id="list-picture" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div
                            (click)="changePicture(item)"
                            *ngFor="let item of itemQuickView ? itemQuickView.listPicturesActive : []"
                            class="col-md-3 col-sm-6"
                          >
                            <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngFor="let pic of itemQuickView ? itemQuickView.listPicturesRs : []" class="item">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div (click)="changePicture(item)" *ngFor="let item of pic" class="col-md-3 col-sm-6">
                            <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal view content -->
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-product-view-content">
                <h3>{{ itemQuickView ? itemQuickView.name : '' }}</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p style="float: left">
                      Lượt xem:
                      <nz-tag [nzColor]="'#108ee9'">{{ itemQuickView ? itemQuickView.visitCount : '' }}</nz-tag>
                    </p>
                    <div
                      class="fb-like"
                      [attr.href]="urlComment"
                      data-width=""
                      data-layout="standard"
                      data-action="like"
                      data-size="small"
                      data-share="true"
                    ></div>
                  </div>
                  <div class="col-md-6">
                    <p style="float: right" class="aa-product-avilability">Trạng thái: <nz-tag [nzColor]="'green'">Còn hàng </nz-tag></p>
                  </div>
                </div>
                <nz-rate [ngModel]="'2.5'" nzDisabled></nz-rate>
                <br />
                <span class="text-label">Giá bán: </span
                ><span class="text-price">{{ itemQuickView.price | currency: 'VND' | lowercase }}</span>
                <br />
                <span class="text-label">Giá khuyến mãi:</span>
                <span class="text-price-discount"> {{ itemQuickView.price - itemQuickView.discount | currency: 'VND' | lowercase }}</span>
                <br />
                <span class="text-label">Thông tin sảm phẩm: </span>
                <span>{{ itemQuickView ? itemQuickView.summary : '' }}</span>
                <br />
                <span class="text-label">Thời gian bảo hành: </span>
                <span class="text-price-discount">{{
                  itemQuickView ? itemQuickView.thoiGianBaoHanh + ' ' + itemQuickView.loaiBaoHanh : ''
                }}</span>
                <br />
                <br />
                <div class="aa-prod-quantity">
                  <p class="aa-prod-category">
                    <span class="text-label">Loại sản phẩm: </span
                    ><a *ngFor="let item of itemQuickView ? itemQuickView.categoryName : []" href="#">
                      <nz-tag [nzColor]="'#f50'">{{ item }}</nz-tag>
                    </a>
                  </p>
                  <br />
                  <p class="aa-prod-category">
                    <span class="text-label">Tag: </span
                    ><a *ngFor="let item of itemQuickView ? itemQuickView.tagName : []" href="#">
                      <nz-tag [nzColor]="'lime'">{{ item }}</nz-tag>
                    </a>
                  </p>
                </div>
                <span class="text-label">Thông tin bổ sung: </span>
                <div class="row">
                  <div class="col-md-12">
                    <nz-table [nzPageSize]="'4'" #basicTable [nzData]="itemQuickView ? itemQuickView.listCategoryMetaProducts : []">
                      <thead>
                        <tr>
                          <th>Mã</th>
                          <th>Nội dung</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of itemQuickView ? itemQuickView.listCategoryMetaProducts : []">
                          <td>{{ data.categoryMetaName }}</td>
                          <td>{{ data.content }}</td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
                <div class="item-center aa-prod-view-bottom">
                  <a (click)="addToCart(itemQuickView)" href="javascript:void(0)" style="margin-right: 20px" class="aa-add-to-cart-btn"
                    ><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="aa-product-details-bottom">
            <ul class="nav nav-tabs" id="myTab2">
              <li><a href="#description" data-toggle="tab">Chi tiết sản phẩm</a></li>
              <li><a href="#review" data-toggle="tab">Bình luận</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="description">
                {{ itemQuickView.description }}
              </div>
              <div class="tab-pane fade" id="review">
                <div class="fb-comments" [attr.href]="urlComment" data-width="100%" data-numposts="5"></div>
                <div class="aa-product-review-area">
                  <h4>2 Reviews for T-Shirt</h4>
                  <ul class="aa-review-nav">
                    <li>
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="img/testimonial-img-3.jpg" alt="girl image" />
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>
                          <div class="aa-product-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="img/testimonial-img-3.jpg" alt="girl image" />
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>
                          <div class="aa-product-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <h4>Add a review</h4>
                  <div class="aa-your-rating">
                    <p>Your Rating</p>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                  </div>
                  <!-- review form -->
                  <form action="" class="aa-review-form">
                    <div class="form-group">
                      <label for="message">Your Review</label>
                      <textarea class="form-control" rows="3" id="message"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="example@gmail.com" />
                    </div>

                    <button type="submit" class="btn btn-default aa-review-submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Related product -->
          <div class="aa-product-related-item">
            <h3>Sản phẩm tương tự</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / product category -->
