<!-- product category -->
<section id="aa-product-details">
  <div class="row">
    <div class="col-md-12">
      <div class="aa-product-details-area">
        <div class="aa-product-details-content">
          <ul class="breadcrumb">
            <li><a href="javascript:void(0)" [routerLink]="'/home'">Trang chủ</a></li>
            <li>Chi tiết sản phẩm</li>
            <li>{{ itemQuickView.code }}</li>
          </ul>
          <div class="row">
            <!-- Modal view slider -->
            <div class="col-md-6 col-sm-12 col-xs-12">
              <lib-ngx-image-zoom
                [thumbImage]="myThumbnail"
                [fullImage]="myThumbnail"
                [magnification]="2"
                [enableScrollZoom]="true"
                [enableLens]="true"
                [lensWidth]="'200'"
                [lensHeight]="'200'"
                [circularLens]="true"
              >
              </lib-ngx-image-zoom>
              <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                  <!-- Controls -->
                  <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#list-picture" data-slide="prev"></a
                    ><a class="right fa fa-chevron-right btn btn-success" href="#list-picture" data-slide="next"></a>
                  </div>
                </div>
              </div>
              <div id="list-picture" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div
                            (click)="changePicture(item)"
                            *ngFor="let item of itemQuickView ? itemQuickView.listPicturesActive : []"
                            class="col-md-3 col-sm-6"
                          >
                            <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngFor="let pic of itemQuickView ? itemQuickView.listPicturesRs : []" class="item">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div (click)="changePicture(item)" *ngFor="let item of pic" class="col-md-3 col-sm-6">
                            <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal view content -->
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-product-view-content">
                <h3>{{ itemQuickView ? itemQuickView.name : '' }}</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p style="float: left">
                      Lượt xem:
                      <nz-tag [nzColor]="'#108ee9'">{{ itemQuickView ? itemQuickView.visitCount : '' }}</nz-tag>
                    </p>
                    <div
                      class="fb-like"
                      [attr.href]="urlComment"
                      data-width=""
                      data-layout="standard"
                      data-action="like"
                      data-size="small"
                      data-share="true"
                    ></div>
                  </div>
                  <div class="col-md-6">
                    <p style="float: right" class="aa-product-avilability">Trạng thái: <nz-tag [nzColor]="'green'">Còn hàng </nz-tag></p>
                  </div>
                </div>
                <nz-rate [ngModel]="itemQuickView.rating" nzDisabled></nz-rate>
                <br />
                <span class="text-label">Giá bán: </span
                ><span class="text-price">{{ itemQuickView.price | currency: 'VND' | lowercase }}</span>
                <br />
                <span class="text-label">Giá khuyến mãi:</span>
                <span class="text-price-discount"> {{ itemQuickView.price - itemQuickView.discount | currency: 'VND' | lowercase }}</span>
                <br />
                <span class="text-label">Thông tin sảm phẩm: </span>
                <span>{{ itemQuickView ? itemQuickView.summary : '' }}</span>
                <br />
                <span class="text-label">Thời gian bảo hành: </span>
                <span class="text-price-discount">{{
                  itemQuickView ? itemQuickView.thoiGianBaoHanh + ' ' + itemQuickView.loaiBaoHanh : ''
                }}</span>
                <br />
                <br />
                <div class="aa-prod-quantity">
                  <p class="aa-prod-category">
                    <span class="text-label">Loại sản phẩm: </span
                    ><a *ngFor="let item of itemQuickView ? itemQuickView.categoryName : []" href="#">
                      <nz-tag [nzColor]="'#f50'">{{ item }}</nz-tag>
                    </a>
                  </p>
                  <br />
                  <p class="aa-prod-category">
                    <span class="text-label">Tag: </span
                    ><a *ngFor="let item of itemQuickView ? itemQuickView.tagName : []" href="#">
                      <nz-tag [nzColor]="'lime'">{{ item }}</nz-tag>
                    </a>
                  </p>
                </div>
                <span class="text-label">Thông tin bổ sung: </span>
                <div class="row">
                  <div class="col-md-12">
                    <nz-table [nzPageSize]="'4'" #basicTable [nzData]="itemQuickView ? itemQuickView.listCategoryMetaProducts : []">
                      <thead>
                        <tr>
                          <th>Mã</th>
                          <th>Nội dung</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of itemQuickView ? itemQuickView.listCategoryMetaProducts : []">
                          <td>{{ data.categoryMetaName }}</td>
                          <td>{{ data.content }}</td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
                <div class="item-center aa-prod-view-bottom">
                  <a (click)="addToCart(itemQuickView)" href="javascript:void(0)" style="margin-right: 20px" class="aa-add-to-cart-btn"
                    ><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="aa-product-details-bottom">
            <ul class="nav nav-tabs item-center" id="myTab2">
              <li><a href="#description" data-toggle="tab">Chi tiết sản phẩm</a></li>
              <li><a href="#review" data-toggle="tab">Bình luận, Đánh giá</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" [innerHTML]="itemQuickView.description" id="description"></div>
              <div class="tab-pane fade" id="review">
                <nz-card style="width: 100%" nzTitle="Hỏi đáp về sản phẩm">
                  <div class="fb-comments" [attr.href]="urlComment" data-width="100%" data-numposts="5"></div>
                </nz-card>
                <nz-card style="width: 100%" nzTitle="Khách hàng chấm điểm, đánh giá, nhận xét">
                  <div class="aa-product-review-area">
                    <h4>{{ listRs.length }} đánh giá về {{ itemQuickView.code }}</h4>
                    <ng-template #commentTemplateRef let-comment="comment">
                      <nz-comment [nzAuthor]="comment.userName" [nzDatetime]="comment.createdDate + ' trước'">
                        <nz-avatar nz-comment-avatar [nzSrc]="baseFile + comment.avatarUrl"></nz-avatar>
                        <nz-comment-content>
                          <nz-rate *ngIf="comment.isRoot === true" [ngModel]="comment.rating" nzDisabled></nz-rate>
                        </nz-comment-content>
                        <nz-comment-content>
                          <div [innerHTML]="comment.content"></div>
                        </nz-comment-content>
                        <nz-comment-action
                          ><span [hidden]="comment.checked === true" (click)="openReply(comment.id)">Trả lời</span></nz-comment-action
                        >
                        <nz-comment-content [hidden]="comment.checked === false" *ngIf="comment.checked === true">
                          <nz-form-item>
                            <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                          </nz-form-item>
                          <nz-form-item>
                            <button
                              nz-button
                              nzType="primary"
                              [nzLoading]="submitting"
                              [disabled]="!inputValue"
                              (click)="submitComment(comment.id, 2)"
                            >
                              Trả lời
                            </button>
                            <button style="margin-left: 15px" nz-button nzType="primary" (click)="handleClose(comment.id)">Đóng</button>
                          </nz-form-item>
                        </nz-comment-content>
                        <ng-container *ngIf="comment.children && comment.children.length">
                          <ng-template ngFor let-child [ngForOf]="comment.children">
                            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }">
                            </ng-template>
                          </ng-template>
                        </ng-container>
                      </nz-comment>
                    </ng-template>

                    <div *ngFor="let item of listRs">
                      <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: item }"> </ng-template>
                      <hr />
                    </div>
                    <h4>Thêm đánh giá</h4>
                    <div class="aa-your-rating">
                      <p>Bạn đánh giá</p>
                      <nz-rate [(ngModel)]="value" [nzTooltips]="tooltips"></nz-rate>
                      <span *ngIf="value" class="ant-rate-text">{{ value ? tooltips[value - 1] : '' }}</span>
                    </div>
                    <!-- review form -->
                    <form action="" class="aa-review-form">
                      <div class="form-group">
                        <nz-comment>
                          <nz-avatar
                            nz-comment-avatar
                            [routerLink]="'/account-detail'"
                            nzIcon="user"
                            [nzSrc]="token ? baseFile + userInfo.avatar : ''"
                          >
                          </nz-avatar>
                          <nz-comment-content>
                            <nz-form-item>
                              <!-- <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="inputReview" nz-input
                                rows="4"></textarea> -->
                              <ckeditor
                                [ngModelOptions]="{ standalone: true }"
                                nz-col
                                nzSpan="24"
                                [(ngModel)]="inputReview"
                                style="width: 500px !important"
                                [editor]="Editor"
                              ></ckeditor>
                            </nz-form-item>
                            <!-- <nz-form-item>
                              <button nz-button nzType="primary"  [disabled]="inputValue ===''">
                                Bình luận
                              </button>
                            </nz-form-item> -->
                          </nz-comment-content>
                        </nz-comment>
                      </div>

                      <button type="button" (click)="submitComment(null, 1)" class="btn btn-default aa-review-submit">Đánh giá</button>
                    </form>
                  </div>
                </nz-card>
              </div>
            </div>
          </div>
          <!-- Related product -->
          <div class="aa-product-related-item">
            <h3>Sản phẩm tương tự</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / product category -->
