<section id="aa-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-subscribe-area">
          <h3>ĐĂNG KÝ NHẬN EMAIL THÔNG BÁO KHUYẾN MẠI HOẶC ĐỂ ĐƯỢC TƯ VẤN MIỄN PHÍ</h3>
          <form action="" [formGroup]="formSub" class="aa-subscribe-form">
            <input type="email" name="" formControlName="email" id="" placeholder="Nhập email hoặc số điện thoại của bạn" />
            <input type="submit" (click)="Subscribe()" value="Gửi" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
