<!-- 404 error section -->
<section id="aa-error">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-error-area">
          <h2>404</h2>
          <span>Xin lỗi! Trang không tồn tại</span>
          <p>It looks like you may have a wrong turn. Do not worry... it happens to the best of us.</p>
          <a href="javascript:void(0)" (click)="gotoHomepage()"> Quay lại trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / 404 error section -->

<!-- Subscribe section -->
<app-subscribe></app-subscribe>
<!-- / Subscribe section -->
