<div style="text-align: center" class="container">
  <div class="card">
    <div style="width: 200px; height: 200px; margin: 0 auto; background: #f8faf5; border-radius: 200px">
      <i class="checkmark">✓</i>
    </div>
    <h1>Đặt hàng thành công</h1>
    <p>
      Đơn hàng <b style="font-size: 40px">{{ code }}</b> của bạn đã được đặt thành công. Vui lòng kiểm tra Email của bạn để kiểm tra lại
      thông tin.
    </p>
    <button nz-button nzType="primary" [routerLink]="'/home'" class="btn btn-success">Tiếp tục mua sắm</button>
  </div>
</div>
