<div class="container">
  <div *ngIf="isSuccess === false" style="margin-bottom: 20px" class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        <h2>Bạn quên mật khẩu của mình?</h2>
        <p>Thay đổi mật khẩu của bạn trong ba bước đơn giản. Điều này sẽ giúp bạn bảo mật mật khẩu của mình!</p>
        <ol class="list-unstyled">
          <li><span class="text-primary text-medium">1. </span>Nhập địa chỉ email của bạn vào bên dưới.</li>
          <li><span class="text-primary text-medium">2. </span>Hệ thống của chúng tôi sẽ gửi cho bạn một email vào mail của bạn.</li>
          <li><span class="text-primary text-medium">3. </span> Sử dụng liên kết để đặt lại mật khẩu của bạn.</li>
        </ol>
      </div>
      <form class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="email-for-pass">Nhập địa chỉ email của bạn</label>
            <input
              class="form-control"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              id="email-for-pass"
              [(ngModel)]="email"
              required=""
            /><small class="form-text text-muted"
              >Nhập địa chỉ email bạn đã sử dụng trong quá trình đăng ký trên Vân Anh Computer. Sau đó, chúng tôi sẽ gửi email một liên kết
              đến địa chỉ này.</small
            >
          </div>
        </div>
        <div class="card-footer">
          <button (click)="getPassword()" nz-button nzType="primary">
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i> Lấy mật khẩu mới
          </button>
          <button nz-button nzType="primary" routerLink="/login" nzDanger>
            <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Quay lại đăng nhập
          </button>
        </div>
      </form>
    </div>
  </div>

  <div style="margin-bottom: 20px" class="row justify-content-center">
    <nz-result
      style="margin-top: 20px"
      *ngIf="isSuccess === true"
      nzStatus="success"
      nzTitle="Lấy lại mật khẩu thành công!"
      nzSubTitle="Mật khẩu của bạn đã được reset thành công. Vui lòng kiểm tra email."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" routerLink="/login" nzDanger>
          <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Quay lại đăng nhập
        </button>
      </div>
    </nz-result>
  </div>
</div>
