// @import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
// @import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/_ag-theme-alpine-mixin.scss';
@import '../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css';
// .ag-theme-alpine {
//   @include ag-theme-alpine();
// }
