<div class="row">
  <div style="margin-top: 20px" class="col-md-10 offset-md-1">
    <ngb-carousel [interval]="2500">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../../assets/img//g88.jpg" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../../assets/img/asus-gaming-pcs-banner-980px-v3.webp" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../../assets/img/Keyboard-Common-Page-Main-Banner.png" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
